/* about.css */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  background-color: #f8f8f8;
 
}

.about-content {
  max-width: 800px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background:linear-gradient(30deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 59%,rgba(255,255,255,0.2) 59%);


}
.about-wrapper{
  height: 100vh;
  overflow: hidden;
}

.about-content h1 {
  margin-bottom: 30px;
  color: black;
  text-align: center;
  font-size: 32px;
}

.about-content p {
  
  margin-bottom: 20px;
  color: black;
  line-height: 1.6;
  text-align: justify;
  font-size: 16px;
}

/* Additional styling for a fashion website */

.about-container {
  background: url('https://images.pexels.com/photos/8195873/pexels-photo-8195873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
  font-size: 36px;
}

.about-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .about-content {
    padding: 20px;
  }
}
